.Form-Titile{
    text-align: center;
}
.inputs-container{
    display: flex;
    flex-wrap: wrap;
    
}
.task-container-add{
    margin:40px;
    display: flex;
    flex-direction: column;
    margin-left:200px !important;
}
.add-dept{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-dept-btn{
        color: #ffffff;
        background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;
        transition: all 0.3s ease;
        height: 39px;
        padding: 7px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
}
.table-header-monthly {
    display: flex;
    flex-direction: row;
    border-width:0px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #6278f5;
    color:white;
    position: sticky;
    width: 700px;
    
  }

  .inventory-table{
    margin-left:auto;
    margin-right: auto;
  }